.center-menu {
    margin: 0 auto;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-but {
    background-color: rgb(231, 231, 231);
}

.signup-but {
    background-color: rgb(231, 231, 231);
    margin-right: 2%;
}

.userImage {
    width: 6vh;
    margin-right: 2%;
}

.logo-image {
    width: 10vh;
}


.navbar-collapse {
    background-color: #f0f0f0;
}

.navbar-expand-lg {
    background-color: #f0f0f0 !important;
}